@import "../../utilities/variables.scss";
::placeholder {
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar--component {
  width: 100%;
  position: fixed;
  color: $master-color;
  height: 150px;
  z-index: 3;

  .logo--section,
  .nav--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;

    h1 {
      font-size: 2rem;
    }

    .members-area {
      background-color: $master-color;
      color: $text-color;
      padding: 15px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        transition: 0.8s;
        background-color: $btn-color;
      }
    }

    .navs {
      .nav {
        color: $text-color;
        text-decoration: none;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 5px;

        &:hover {
          color: $master-color;
        }

  
      }


      span {
        font-weight: bolder;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .input--section {
      border-bottom: 3px solid $master-color;

      .input-icon {
        font-weight: bolder;
        font-size: 1.5rem;
        position: relative;
        color: $text-color;
        top: 7px;
      }
      input[type="search"] {
        border: none;
        outline: none;
      }
      .input {
        height: 30px;
        width: 300px;
        border: none;
        background-color: transparent;
        color: $text-color;

        &:focus {
          background-color: transparent;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }
}
