:root {
  --master-color: #946c25;
  --text-color: #fff;
  --default-font: "Montserrat", sans-serif;
  --btn-color: #dd9c22;
  --background-site: #292929;
}

.footer__section {
    position: relative;
    top: 20%;
  .social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .social-text {
      color: $text-color;
      font-size: 1rem;
    }
    .social-medias {
      font-size: 1.2rem;
      display: flex;
      gap: 30px;
      position: relative;
      top: 20px;
      color: $text-color;

      &:hover {
        transition: .8s;
        cursor: pointer;
      }
    }
  }

  .dev--section {
    .dev {
         color: $text-color;
        margin-bottom: 10px;
        text-transform: lowercase;
        font-size: 1rem; 
        #span {
            font-weight: bolder;
        }
    }
    .hub {
        font-size: 1rem;
         color: $text-color;
        cursor: pointer;
    }
  }
}
