:root {
  --master-color: #946c25;
  --text-color: #fff;
  --default-font: "Montserrat", sans-serif;
  --btn-color: #dd9c22;
  --background-site: #292929;
}

.other__blogs__section {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  position: relative;
  top: 18%;
  position: relative;
  margin-left: 20px;
  height: 150vh;
}
.other__blogs__section .other {
  height: 560px;
}
.other__blogs__section .other .date-cp {
  margin-bottom: 10px;
  color: --text-color;
  font-weight: bold;
}

.other__blogs__section .other img {
  width: 300px;
}

.other__blogs__section .other .names h1 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: --text-color;
}

.other__blogs__section .other .about p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: --text-color;
  font-size: 0.8rem;
}

.other__blogs__section .other .about .more .more__btn {
  background-color: --master-color;
  position: relative;
  padding: 5px;
  top: 13px;
  border-radius: 10px;
  text-decoration: none;
  color: --text-color;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  font-weight: 300;
}
.other__blogs__section .other .about .more .more__btn:hover {
  transition: 0.8s;
  background-color: --btn-color;
}

.other__blogs__section .other .about .more .more__btn .arrow-icon {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
