@import "../../utilities/variables.scss";

.other__blogs__section {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    top: 18%;
    position: relative;
    margin-left: 20px;
    height: 150vh;


    .other {
        .date-cp {
            margin-bottom: 10px;
            color: $text-color;
            font-weight: bold;
        }
        height: 560px;
        img {
            width: 300px;
        }

        .names {
            h1 {
                font-size: 1.2rem;
                margin-top: 10px;
                margin-bottom: 10px;
                color: $text-color;
            }
        }
        .about {
            p {
                margin-top: 10px;
                margin-bottom: 10px;
                color: $text-color;
                font-size: .8rem; 
            }
        }

        .more {
            .more__btn {
                background-color: $master-color;
                position: relative;
                padding: 5px;
                top: 13px;
                border-radius: 10px;
                text-decoration: none;
                color: $text-color; 
                text-transform: uppercase;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: .9rem;
                font-weight: 300;

                &:hover {
                    transition: .8s;
                    background-color: $btn-color;
                }

                .arrow-icon {
                    position: relative;
                    top: 2px;
                    margin-left: 5px;
                }
            }
        }
    }
}