@import "../utilities/variables.scss";

.home--section {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/images/background.gif");
  background-repeat: no-repeat;
  background-size: cover;

  .home--text {
    text-align: left;
    position: relative;
    margin-left: 100px;
    top: 160px;
    border-left: 10px solid $master-color;
    height: 100px;

    h1 {
      font-size: 2rem;
      color: $text-color;
      margin-left: 10px;
    }

    p {
      color: $text-color;
      margin-top: 5px;
      margin-left: 10px;
    }
  }

  .home--blogs {
    width: 100%;
    height: 70vh;
    position: relative;
    top: 190px;
  }
}

.trending-section,
.galery-section,
.other-blogs-section {
  width: 100%;
  height: 100vh;
  background-color: $background-site;
}

.trending-section {
  .trending--text {
    text-align: left;
    position: relative;
    margin-left: 100px;
    top: 150px;
    border-left: 10px solid $master-color;
    height: 100px;

    h1 {
      font-size: 2rem;
      color: $text-color;
      margin-left: 10px;
    }

    p {
      color: $text-color;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

.galery-section {
  .galery-btn {
    position: relative;
    width: 100px;
    margin-left: 85%;
    height: 40px;
    top: -20px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $master-color;
    color: $text-color;
    border: none;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      transition: .8s;
      background-color: $btn-color;
      box-shadow: 5px 5px 100px rgba(61, 61, 61, 0.096) ;
    }
  }
  .galery--text {
    text-align: left;
    position: relative;
    margin-left: 100px;
    top: 150px;
    border-left: 10px solid $master-color;
    height: 100px;

    h1 {
      font-size: 2rem;
      color: $text-color;
      margin-left: 10px;
    }

    p {
      color: $text-color;
      margin-top: 5px;
      margin-left: 10px;
      font-weight: 400;
    }
  }
}

.other-blogs-section {
  height: 150vh;
  .other-blogs--text {
    text-align: left;
    position: relative;
    margin-left: 100px;
    top: 200px;
    border-left: 10px solid $master-color;
    height: 100px;

    h1 {
      font-size: 2rem;
      color: $text-color;
      margin-left: 10px;
    }

    p {
      color: $text-color;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

.footer-section {
  width: 100%;
  height: 15vh;
  background-color: $master-color;
}