@import "../../utilities/variables.scss";

.homeblogs--component {
    width: 100%;
    height: 100vh;
}

.swiper {
    height: 60vh !important;
}

.styles {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    position: relative;
    gap: 50px;

    background-color: rgba(0, 0, 0, 0.116);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.301);

    .HB-info-1 {
        p {
            color: #fff;
            margin-bottom: 10px;
        }

        .HB-img {
            max-width: 100%;
            width: 600px;
            border-radius: 5px;
        }


    } 

    .HB-info-2 {
        width: 40%;
        h2 {
            color: #fff;
            font-size: 1.7rem;
            margin-bottom: 10px;
        }

        p {
            color: #fff;
            font-size: .9rem;
            margin-bottom: 10px;
            font-weight: 300;
        }

        .HB-btn {
            margin-top: 20px;
            width: 120px;
            height: 30px;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            background-color: $master-color;
            color: $text-color;
            text-align: center;
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 400;
            &:hover {
                cursor: pointer;
                transition: .8s;
                background-color: $btn-color;
            }

            .HB-icon {
                position: relative;
                top: 2px;
                margin-left: 5px;
            }
        }
    }

}

