@import "../../utilities/variables.scss";

#swiper-trend {
    height: 90vh !important;
}

.tranding {
    position: relative;
    top: 35%;
    margin-left: 5px;

    .date {
        color: $text-color;
        font-weight: bolder;
        margin-bottom: 5px;
    }

    .main-text {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .sub-text {
        color: $text-color;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }

    .btn-ml {
        width: 150px;
        height: 45px;
        border: none;
        border-radius: 5px;
        background-color: $master-color;
        color: $text-color;
        font-weight: bolder;
        text-align: center;

        .btn-ml-link {
            position: relative;
            top: 2px;
            margin-left: 20px;
        }
    }
}