:root {
    --master-color: #946c25;
    --text-color: #fff;
    --default-font: "Montserrat", sans-serif;
    --btn-color: #dd9c22;
    --background-site: #292929;
  }

.trending--section {
    width: 100%;
    height: 100vh;
}

#swiper-trend {
    height: 90vh !important;
}

.tranding {
    position: relative;
    top: 30%;
    margin-left: 5px;

    img {
        width: 400px;
    }

    .date {
        color: $text-color;
        font-weight: bolder;
        margin-bottom: 5px;
    }

    .main-text {
        color: $text-color;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .sub-text {
        color: $text-color;
        font-size: 0.9rem;
        margin-bottom: 20px;
        font-weight: 300;
    }

    .btn-ml {
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: $master-color;
        color: $text-color;
        font-weight: bolder;
        text-align: center;
        font-weight: 300;

        .btn-ml-link {
            position: relative;
            top: 2px;
            margin-left: 20px;
        }
    }
}