:root {
    --master-color: #946c25;
    --text-color: #fff;
    --default-font: "Montserrat", sans-serif;
    --btn-color: #dd9c22;
    --background-site: #292929;
  }

.rate {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: $master-color;
}